#terminal-window form .form-group {
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
    padding: 0 10px;
  }
  #terminal-window form .form-group-command {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
  }

  
  #terminal-window form label {
    display: block;
    margin-bottom: 5px;
  }
  #terminal-window form input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 16px;
  }
  @media screen and (max-width: 767px) {
    #terminal-window form .form-group {
      display: block;
      width: 100%;
      padding: 0;
    }
  }
    body {
      background-color: black;
      color: white;
      font-family: monospace;
      font-size: 14px;
      padding: 10px;
    }
    h1 {
      color: green;
      font-size: 24px;
      margin-top: 0;
    }
    form {
      margin-bottom: 20px;
    }
    label {
      color: white;
      font-size: 16px;
      font-weight: bold;
      margin-right: 10px;
    }
    input[type="text"] {
      background-color: rgb(31, 31, 31);
      border: none;
      color: white;
      font-family: monospace;
      font-size: 14px;
      padding: 5px;
      width: 80%;
    }
    button[type="submit"], button[type="button"] {
      background-color: green;
      border: none;
      color: white;
      font-family: monospace;
      font-size: 14px;
      padding: 5px 10px;
    }
    #output {
      background-color: black;
      border: 1px solid gray;
      color: white;
      font-family: monospace;
      font-size: 14px;
      padding: 10px;
      height: 500px;
      overflow-y: auto;
      margin-top: 0;
    }
    a {
      color: white;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
    .highlight {
      background-color: #eb00ff80;
      color: #0cffe8;
      padding: 0 2px;
      margin: 3px;
    }
